@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&family=DM+Sans:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
	}

	body {
		margin: 0;
		font-family: "DM Sans", sans-serif;
		background-color: #090f18;
		color: #f0f6ff;
	}
}
